@using Kirel.Identity.Client.Interfaces
@inherits LayoutComponentBase
@inject IClientAuthenticationService AuthenticationService

<MudThemeProvider/>
<MudDialogProvider CloseOnEscapeKey="true" CloseButton="true"/>
<MudSnackbarProvider/>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    <a @onclick="Logout">Logout</a>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }
} 